/* Menu */
/*Reset CSS*/
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway';
}

@media screen and (max-width: 767px) {

    .nav--container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        top: 0px;
        width: 100%;

    }
      /*items menu*/
      .nav--container--item{
        list-style-type: none;
        flex-direction: row;
    }

  /*Menu logo*/
  .nav--container .logo{
    left: 0px;
    position:absolute;
    align-self: center;
    justify-content: center;
    left: 15px;
  }

  /*Menu liens*/
  .nav--container--item--link .lien1 a,   .nav--container--item--link .lien2 a{
    text-decoration: none;
    align-self: center;
    justify-content: space-around;
    text-align: center;
    padding :45px 0;
    border-bottom: 3px solid white;
    color: #1f1f1f;
}

.nav--container--item--link .register a{
  border-bottom: none;
}

/*Menu liens hover */
.lien1 a:hover {
  border-bottom: 3px solid #0065fc;
  color: #0065fc
}

.lien2 a:hover {
  border-bottom: 3px solid #0065fc;
  color: #0065fc
}

.nav--container--item--link .register a:hover {
  border-bottom: none;
  color: #0065fc
}

/*Menu lien active*/
.active a {
  border-bottom: 3px solid #0065fc;
  color: #0065fc
}

.menu{
  flex-basis:100%;
}

.menu a{
  flex-grow:2;
}

.lien2 a{
  border-bottom : 3px solid grey;
}

.register a{
  color: #0065fc;
  font-weight: 800;
}

.register{
  position:absolute;
  top:0;
  right : 0;
}

.active, .lien1, .lien2{
  position: relative;
  top:100px;
  justify-content: center;
  align-items: center;
}

.search--container
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding:2%;
  padding-bottom:8%;
}

.button--search--container{
  flex-direction: row;
}


.full-btn{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
}

.icons svg{
  width:20px;
  height:20px;
  background-color: #DEEBFF;
  border: 1px solid #DEEBFF;
  border-radius:50px;
  padding:50%;
  fill:#0065FC;
  right: 0px;
  bottom: 0px;
  position: relative;
}

.icons{
  position:relative;
  margin-left: 50px;
}

.btn{
  display:block;
  height:40px;
  border-top:2px solid #F2F2F2;
  border-bottom: 2px solid #F2F2F2;
  border-right : 2px solid #F2F2F2;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align:center;
  font-weight: 800;
  white-space:nowrap;
  padding: 0 0 0 3px;
}

.button-animaux{}

.button-animaux p{
  width:198px;
}

.button-economique p{
  width:155px;

}

.button-economique{
  align-self: center;
}

.button-familial{
  align-self: center;
}

.button-familial p{
  width:112px;
}

.button-romantique{
  align-self: end;
}
.button-romantique p{
  width:220px;}

p{
  margin-top: 10px;
  padding:0;
}

.btn-bloc{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;  
  justify-content:center;
  align-items:center;
  margin-bottom:2%;

}

.filtre-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: flex-start;
  width:100%;
  padding:2%;
  position: relative;
  left:-50px;
}


.filtre{
  display: inline;
  width:100%;
  margin-bottom:10px;
  font-weight: 800;
  left: 50px;
  position: relative;
}

.button-animaux{
  align-self: flex-end;
 
}
.content{
  position: relative;
  top:150px;
}

}