@media screen and (min-width: 780px) {

/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway';
}
  /*Début Menu CSS*/

  /*Container Menu CSS*/
  .nav--container{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      width:100%;
      margin: 0 auto;
      background-color: white;
      position: relative;
      top: 0px;
      border-top: 3px solid white;
  }

    /*items menu*/
  .nav--container--item{
      list-style-type: none;
  }

  /*Menu*/
  .nav--container .menu{
    right:10px;
    position:relative;
    align-self: center;
  }

  /*Menu logo*/
  .nav--container .logo{
    left:10px;
    position:relative;
    display: block;  
    align-self: center;
    left: 56px;
  }

  /*Menu bloc*/
  .nav--container--item--link{
      flex: 1 1 auto;
      position: relative;

  }
  /*Menu liens*/
  .nav--container--item--link a{
    text-decoration: none;
    align-self: center;
    display: block;
    width:150px;
    text-align: center;
    padding :59px 0;
    border-top: 3px solid white;
    color: #1f1f1f;
}

/*Menu liens hover */
.nav--container--item--link a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc
}

/*Menu lien active*/
.active a {
  border-top: 3px solid #0065fc;
  color: #0065fc
}

.register a{
  color: #0065fc;
  font-weight: 800;
}

/*Fin Menu CSS*/

.search--container
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.button--search--container{
  flex-direction: row;
}
.filtre--container{
  display: flex;
}
.filtre--container--item{
  display: inline-flex;
  justify-content: space-around;
  margin-left:2%;
  padding-right:20px;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  border-right: 2px solid grey;
  border-radius: 20px;
  flex-basis: 120px;

}

.icons{
  display: block;
  padding : 6%;
  background-color:blue;
  color:white;
  border: 2px solid blue;
  border-radius: 20px;
}

.titre--filter{
  text-align: center;
}

}

