/* Menu */

@media screen and (max-width: 767px) {

    .nav--container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        top: 0px;
        width: 100%;

    }
      /*items menu*/
      .nav--container--item{
        list-style-type: none;
        flex-direction: row;
    }

  /*Menu logo*/
  .nav--container .logo{
    left: 0px;
    position:relative;
    align-self: center;
    justify-content: center;
    left: 0px;
  }

  /*Menu liens*/
  .nav--container--item--link .lien1 a,   .nav--container--item--link .lien2 a{
    text-decoration: none;
    align-self: center;
    display: block;
    width:150px;
    text-align: center;
    padding :45px 0;
    border-bottom: 3px solid white;
    color: #1f1f1f;
}

.nav--container--item--link .register a{
  border-bottom: none;
}

/*Menu liens hover */
.lien1 a:hover {
  border-bottom: 3px solid #0065fc;
  color: #0065fc
}

.lien2 a:hover {
  border-bottom: 3px solid #0065fc;
  color: #0065fc
}

.nav--container--item--link .register a:hover {
  border-bottom: none;
  color: #0065fc
}

/*Menu lien active*/
.active a {
  border-bottom: 3px solid #0065fc;
  color: #0065fc
}

.register a{
  color: #0065fc;
  font-weight: 800;
}

.register{
  position:absolute;
  top:0;
  right : 0;
}

.active, .lien1, .lien2{
  position: relative;
  top:100px;
  justify-content: center;
  align-items: center;
  left: -25px;
}

